<% @errors.each do |error| %>
<section class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error!</strong>
    <%= error %>
</section>
<% end %>

<% @infos.each do |info| %>
<section class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Infomation:</strong>
    <%= info %>
</section>
<% end %>


<h1>ユーザー一覧</h1>

<form action="/admin" method="post">
    <table class="table">
        <tr>
            <th></th>
            <th>#</th>
            <th>ユーザー ID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>役割</th>
            <th></th>
        </tr>
        <% @users.each do |user| %>
        <tr>
            <td><input type="checkbox" value="<%= user[:id]%>" /></td>
            <td><%= user[:id] %></td>
            <td><%= user[:user_id] %></td>
            <td><%= user[:user_name] %></td>
            <td><%= user[:mail_address] %></td>
            <td><%= user[:role] %></td>
            <td>
                <% if user[:activate] == true %>
                <input type="submit" name="submit" value="deactivate" class="btn btn-inverse" />
                <% else %>
                <input type="submit" name="submit" value="activate" class="btn btn-success" />
                <% end %>
                <input type="submit" name="submit" value="delete" class="btn btn-danger" />
            </td>
        </tr>
        <% end %>
    </table>
    <input type="button" name="reset-pasword" value="Reset Password" class="btn" />
</form>


<h1>ユーザー作成</h1>

<form class="form-horizontal" action="/admin" method="post">
    <div class="control-group">
        <label class="control-label" for="user-id">User ID</label>
        <div class="controls">
            <input type="text" name="user-id" size="60" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="user-name">User Name</label>
        <div class="controls">
            <input type="text" name="user-name" size="60" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" name="password" size="60" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password-confirm">Password (Confirm)</label>
        <div class="controls">
            <input type="password" name="password-confirm" size="60" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="role">Role</label>
        <div class="controls">
            <select name="role" class="span2">
                <% @roles.each do |role| %>
                    <option value="<%= role %>"><%= role %></option>
                <% end %>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" name="submit" value="create" class="btn">
        </div>
    </div>
</form>
