<h1>スレッド一覧</h1>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>ステータス</th>
        <th>件名</th>
        <th>起票者</th>
        <th class="deadline">期限</th>
        <th class="create-datetime">作成日時</th>
        <th class="update-datetime">更新日時</th>
    </tr>
    <% @threads.each do |thread| %>
    <tr>
        <td class="id"><%= thread[:thread][:id] %></td>
        <td class="status"><%= thread[:thread][:status] %></td>
        <td class="subject"><a href="thread/<%= thread[:thread][:id] %>"><%= thread[:thread][:subject] %></a></td>
        <td class="user"><%= thread[:user][:display_name] %></td>
        <td class="deadline"><%= thread[:thread][:deadline].strftime("%Y-%m-%d") %></td>
        <td class="create-datetime"><%= thread[:thread][:create_datetime].strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td class="update-datetime"><%= thread[:thread][:update_datetime] %></td>
    </tr>
    <% end %>
</table>

<div class="pagination pull-right">
    <ul>
        <li><a href="">Prev</a></li>
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">Next</a></li>
    </ul>
</div>
