<h1>スレッド一覧</h1>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>ステータス</th>
        <th>件名</th>
        <th>起票者</th>
        <th class="deadline">期限</th>
        <th class="create-datetime">作成日時</th>
        <th class="update-datetime">更新日時</th>
    </tr>
    <% @threads.each do |thread| %>
    <tr>
        <td class="id"><%= thread[:thread][:id] %></td>
        <td class="status"><%= thread[:thread][:status] %></td>
        <td class="subject"><a href="thread/<%= thread[:thread][:id] %>"><%= thread[:thread][:subject] %></a></td>
        <td class="user"><%= thread[:user][:display_name] %></td>
        <td class="deadline"><%= thread[:thread][:deadline].strftime("%Y-%m-%d") %></td>
        <td class="create-datetime"><%= thread[:thread][:create_datetime].strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td class="update-datetime"><%= thread[:thread][:update_datetime] %></td>
    </tr>
    <% end %>
</table>

<div class="pagination pull-right">
    <ul>
        <li><a href="/index/1">First</a></li>
        <% if @page > 1 %>
        <li><a href="/index/<%= @prev_page %>">&laquo;</a></li>
        <% else %>
        <li class="active"><a>&laquo;</a></li>
        <% end %>
        <% (@start_page..@end_page).each do |i| %>
        <% if @page == i %>
        <li class="active"><a><%= p i %></a></li>
        <% else %>
        <li><a href="/index/<%= p i %>"><%= p i %></a></li>
        <% end %>
        <% end %>
        <% if @page < @max_page %>
        <li><a href="/index/<%= @next_page %>">&raquo;</a></li>
        <% else %>
        <li class="active"><a>&raquo;</a></li>
        <% end %>
        <li><a href="/index/<%= @max_page %>">Last</a></li>
    </ul>
</div>
